$listHeight: 33%;
.qcms-list {
  position: absolute;
  height: 100%;
  width: $listHeight;
}

.logged-content {
  position: absolute;
  left: $listHeight;
  width: 100% - $listHeight;
  height: 100%;
}
