@import "../style/common.scss";
.hlink {
  color: #000;
}

.hlink:hover {
  color: #9A9999;
  cursor: pointer;
}

.choices-view-grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: 0;
  padding: 0;
}

.answer-choice {
  color: limegreen;
}

.normal-choice {

}
