@import "../style/common.scss";
@import "../style/colors.scss";

.ongoing-choice-view-grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: 0;
  padding: 0;
}

.ongoing-choice-answer {
  color: $answerChoiceColor;
}

.ongoing-choice {
  opacity: 1;
  color: black;
}

.ongoing-choice:active {
  color: #333333;
}

.ongoing-choice:hover {
  opacity: 0.7;
}

