@import "../style/common.scss";
@import "../style/colors.scss";

.qcm-element {
  background: #fffefe;
}

.qcm-element:hover {
  background: #b6b5b5;
}

.qcm-element:active {
  background: $separatorColor;
}
